@import './variables.styl'

.about
  background-color: darken($primaryColor, 70%);
  color: #f2f2f2;
  min-height: 92vh;
  position: relative;
  padding: 70px 40px;
  
  h2 
    font-size: 48px;
    margin-bottom: 30px;
    text-align: center;
  
  p 
    font-size: 24px;
    line-height: 1.7;
    margin: 0 auto 40px auto;
    max-width: 1000px;
    width: 90%;

 .resume
    background-color: darken($primaryColor, 80%);
    font-family: monospace;
    margin: 60px auto 200px;
    max-width: 1000px;
    width: 90%;

    &:before,
    &:after
      border-radius: 6px 6px 0 0;
      content: '';
      background-color: darken($primaryColor, 90%);
      display: block;
      width: 100%;
      height: 25px;
      position: relative;
      
    &:before 
      top: -4px;
    
    &:after 
      bottom: -4px;
      border-radius: 0 0 6px 6px;

    span
      background-color: $primaryColor;
      display: block;
      position: relative;
      top: -20px;
      left: 32px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      z-index: 5;

      &:before,
      &:after
        content: '';
        display: block;
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $primaryColor;

      &::before
        left: -18px;

      &::after 
        left: 18px;
        top: -10px;

.resume-inside
  padding: 20px;

  h3
    font-size: 24px;
    margin-bottom: 20px;
  
  h4 
    font-size: 20px;
    text-transform: uppercase;
    margin: 40px auto;
    opacity: 0.6;
  
  h5 
    font-size: 24px;
    margin-bottom: 50px;
    opacity: 0.7;

  ul 
    list-style: none;
    padding-left: 20px;
    margin-bottom: 50px;
  
  li 
    font-size: 22px;
    margin-bottom: 20px;

@media screen and (max-width: 700px)
  .about
    padding: 30px 15px;

    h2 
      font-size: 40px;
      margin-bottom: 20px;
    
    p 
      font-size: 22px;
      line-height: 1.5;

    .resume
      margin-bottom: 400px;

  .resume-inside
    padding: 15px;

    h3 
      font-size: 20px;
      margin-bottom: 10px;

    h4 
      font-size: 18px;
      margin: 15px auto;
    
    h5 
      font-size: 22px;
      margin-bottom: 20px;
    
    ul 
      margin-bottom: 30px;

      li
        font-size: 18px;
        margin-bottom: 10px;