@import './variables.styl'

.contact 
  background-color: darken($primaryColor, 70%);
  color: #f2f2f2;
  min-height: 91.8vh;
  padding: 40px 20px

  h2 
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;

  p 
    font-size: 28px;
    max-width: 1200px;
    margin: 0 auto 10px auto;
    width: 90%;

    a 
      color: $primaryColor;
      text-decoration: none;
      transition: color 300ms;

      &:hover 
        color: darken($primaryColor, 20%);

@media screen and (max-width: 700px)
  .contact
    padding: 25px 10px;
    min-height: 94vh;
    
    h2 
      font-size: 40px;
      margin-bottom: 15px;

    p 
      font-size: 24px;
      width: 100%;
    
    .social-icons-container
      margin-bottom: 150px;