.hero-box
  animation: fadeIn 3000ms;
  color: #fefefe;
  padding-left: 20px;
  position: relative;
  top: -20vh;
  padding-left: 40px;

  h2 
    font-size: 60px;
    font-weight: normal;
    margin-bottom: 15px;

  h3 
    font-size: 30px;
    font-weight: normal;


@media screen and (max-width: 700px)
  .hero-box
    top: 1vh;
    margin-bottom: 80px;
    padding-left: 15px;

    h2 
      font-size: 44px;


@keyframes fadeIn 
  from
    opacity: 0

  to 
    opacity: 1;