@import './variables.styl'


.banner 
  align-items: center;
  background: linear-gradient(
              rgba(#000, 20%),
              rgba(#000, 60%)),
              url('../assets/banner.png') center center no-repeat;
  display: flex;
  left: 0;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;


  .hero-box
    color: #fefefe;
    padding-left: 20px;
    position: relative;
    top: -20vh;
    padding-left: 20px;

    h2 
      font-size: 60px;
      font-weight: normal;
      margin-bottom: 15px;

    h3 
      font-size: 30px;
      font-weight: normal;


  .social-icons-container
    align-self: flex-end;
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;

    h3
      color: #fefefe;
      font-size: 32px;
      font-weight: normal;
      margin-bottom: 25px;

    .social-icons a
      box-shadow: 4px 7px 0 rgba(#000, 10%);
      padding: 10px 15px;
      color: #fefefe;
      font-size: 22px;
      margin-right: 20px;
      text-decoration: none;
      transition: background-color 300ms;

      &.github
        background-color: $githubColor;

        &:hover 
          background-color: darken($githubColor, 30%);

      &.linkedin
        background-color: $linkedinColor;

        &:hover
          background-color: darken($linkedinColor, 30%);
      
      &.blog
        background-color: $primaryColor; 

        &:hover 
          background-color: darken($primaryColor, 30%);
      
      &.instagram
        background-color: $instagramColor;

        &:hover 
          background-color: darken($instagramColor, 30%);


      &.codepen
        background-color: $codepenColor;

        &:hover
          background-color: darken($codepenColor, 30%);
      

@media screen and (max-width: 700px) 
  .banner
    display: block;
    position: relative;
    width: 100%;

    .hero-box
      top: 1vh;

      h2 
        font-size: 44px;

    .social-icons-container
      color: #f2f2f2;

      .social-icons a
        clear: both;
        margin: 10px auto;
        width: 50%;
        display: block;