@import './_header.styl'
@import './_home.styl'
@import './_about.styl'
@import './_portfolio.styl'
@import './_contact.styl'
@import './_404.styl'


*,
*:before,
*:after
    box-sizing: border-box;
    margin: 0;
    padding: 0;

body 
    font-family: 'Lato';
